extends basepage.pug 

block page-name
    p.nav-link.fw-bold Conact Page 

block page-content
    form
        input(placeholder="email")
        textarea(name="", cols="30", rows="10" placeholder="Message...") 
        button Submit 