footer.text-center.text-lg-start.bg-light.text-muted
    .container.text-center.text-md-start.mt-5 
        .row.mt-3 
            .col-lg-4.mx-auto.mb-4
                h6.text-uppercase.fw-bold.mb-4 links
                p 
                    a.text-reset(href="contact.pug") Contact Form
                p 
                    a.text-reset(href="https://www.linkedin.com/in/david-j-clegg/", target="_blank") Linkedin
                p 
                    a.text-reset(href="https://github.com/DavidClegg", target="_blank") Github

            .col-lg-4.mx-auto.mb-4 
                h6.text-uppercase.fw-bold.mb-4 Tools Used
                p 
                    a.text-reset(href="https://parceljs.org/", target="_blank") Parcel
                p 
                    a.text-reset(href="https://pugjs.org/api/getting-started.html", target="_blank") Pug
                p 
                    a.text-reset(href="https://sass-lang.com/", target="_blank") Sass
                p 
                    a.text-reset(href="https://mdbootstrap.com/", target="_blank") Material Design Bootstrap
