footer(class="text-center text-lg-start bg-light text-muted")
    section
        div(class="container text-center text-md-start mt-5")
            div(class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4")
                h6(class="text-uppercase fw-bold mb-4") links
                p 
                    a(href="" class="text-reset") Contact Form
                p 
                    a(href="" class="text-reset") Linkedin
                p 
                    a(href="" class="text-reset") Github
            div(class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4")
                h6(class="text-uppercase fw-bold mb-4") Tools Used
                p 
                    a(href="" class="text-reset") Parcel
                p 
                    a(href="" class="text-reset") Pug
                p 
                    a(href="" class="text-reset") Sass
