header
    nav(class="navbar navbar-expand navbar-light bg-white")
        div(class="container-fluid")
            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                li(class="nav-item")
                    a(class="nav-link" href="#") Front Page 
                li(class="nav-item")
                    a(class="nav-link" href="#") Workers
                li(class="nav-item")
                    a(class="nav-link" href="#") All Issues
                