block variables
header.mt-3.mb-3
    nav.navbar.navbar-expand.navbar-light.bg-white
        div.container-fluid
            ul.navbar-nav.me-auto.mb-2.mb-lg-0.flex-grow-1
                li.nav-item.flex-grow-1
                    block page-name
                li.nav-item
                    a.nav-link(href="index.pug") Front Page 
                li.nav-item
                    a.nav-link(href="team.pug") Team
                li.nav-item
                    a.nav-link(href="issues.pug") All Issues