doctype html 
html 
    head 
        //- Adding Material Design Bootstrap :: https://mdbootstrap.com/docs/standard/getting-started/installation/
        link(href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet")    
        link(href="../sass/style.sass" rel="stylesheet")
        script(src="../main.js")
        
    body(class="container") 
        include header.pug
        h1 WELCOME TO MY SITE
        p so making changes here should give a nice big update 
        p I hope my styling works
        include footer.pug                     

        //-                                              