extends basepage.pug 

block page-name 
    .nav-link.brand
        .brand__name
            h3 Issues
block page-content
    section
        h1 Active Issues
        article#issues
            .row.justify-content-end.mb-3.gap-3
                button#showModal.btn.btn-primary.col-md-3(type="button" data-mdb-toggle="modal" data-mdb-target="#issueModal") Add Issue
                button#clearIssuesButton.btn.btn-danger.col-md-3(type="button") 
                    strong Remove Issues
            table.table.align-middle.bg-white.table-hover 
                thead.bg-light 
                    th Issue ID
                    th Summary
                    th Priority
                    th Status
                    th Due Date
                    th Assigned To
                tbody#issueTable.table-group-divider 

    div#issueModal.modal.fade(tabindex="-1")
        .modal-dialog 
            .modal-content 
                .modal-header
                    h5#modal-title.modal-title Add Issue
                    button.btn-close(data-mdb-dismiss="modal" aria-label="Close")
                .modal-body
                    form#issueForm 
                        .form-item
                            .form-outline.mb-2
                                input#issue-summary.form-control.my-input
                                label.form-label(for="issue-summary") Issue Summary
                            div.invalid-msg Add a Summary!
                                
                        .form-item
                            .form-outline.mb-2
                                textarea#issue-description.form-control.my-input
                                label.form-label(for="issue-description") Issue Description
                            div.invalid-msg Add a Description!

                        .form-item
                            .form-floating.form-outline.mb-2
                                select#member-select.form-select.my-input(required="true")
                                    option(value, selected) Select Team Member
                                //- This is to be populated by the JS file
                                    option person one 
                                    option person two
                                    option person three
                                    option person four
                                label.form-label Select Team Member:
                            div.invalid-msg Select a Team Member! 
                            
                        .form-item
                            .form-floating.form-outline.mb-2
                                select#priority-select.form-select.my-input(placeholder="")
                                    option(value, selected) Select Issue Priority
                                    each opt in [{value:"Low",style:"bg-info text-dark pb-2"},{value:"Medium",style:"bg-warning text-dark pb-2"},{value:"High",style:"bg-danger text-light pb-2 "},{value:"Critical",style:"bg-dark text-light pb-2"},]
                                        option(class=opt.style, value=opt.value)=opt.value
                                label.form-label Priority:
                            div.invalid-msg Select an Issue Priority!
                                
                        .form-item
                            .form-floating.form-outline.mb-2
                                select#status-select.form-select.my-input
                                    option(value, selected) Select Issue Status
                                    each opt in ["New", "In Progress", "Resolved", "Closed"]
                                        option(value=opt)=opt
                                label.form-label Status:
                            div.invalid-msg Select an Issue Status! 

                        .row
                            .col-md-6.mb-2 
                                .form-item
                                    .form-outline
                                        input#date-assign.form-control.form-control-lg.my-input(type="date",min="2001-01-01")
                                        label.form-label(for="date-assign") Date Assigned
                                        .form-notch
                                            .form-notch-leading 
                                            .form-notch-middle
                                            .form-notch-trailing
                                    div.invalid-msg Select a valid date! 
                            .col-md-6 
                                .form-item
                                    .form-outline
                                        input#date-due.form-control.form-control-lg.my-input(type="date",min="2001-01-01")
                                        label.form-label(for="date-due") Date Dues
                                        .form-notch
                                            .form-notch-leading 
                                            .form-notch-middle
                                            .form-notch-trailing
                                        div.invalid-msg Select a valid due date! 

                        .modal-footer 
                            button#cancel.btn.btn-secondary(data-mdb-dismiss="modal") Close
                            button#addIssue.btn.btn-primary(type="submit",data-mdb-dismiss="modal" disabled="") Save
    


    script(src="../scripts/issues.js", type="module")

    //- This just exists to get Parcel to build the issue page
    //- It turns out parcel only builds a page if it's linked to
    a(href="issue.pug").hide 