//- Page for individual issue, with an ID passed at the part of the url
//- Use window.location.search, and then use regex

extends basepage.pug 

block page-name 
    .nav-link.brand
        .brand__name
            h3 Issue Details

block page-content
    section#Issue 
        h1#pageTitle No Issue Selected 
        article 
            .container
                .row.gx-5
                    .col-md-4
                        .row.border-bottom
                            .col-md-4
                                strong ID
                            .col-md-8
                                p#ID is00X
                        .row
                            .btn-group.shadow-0.col-md-12.border-bottom
                                button.btn.btn-link.dropdown-toggle.col-md-12.p-0.pt-3(type="button" data-mdb-toggle="dropdown")
                                    .row.align-items-center
                                        .col-md-3
                                            img#Image.rounded-circle(src="https://mdbootstrap.com/img/new/avatars/8.jpg",alt="",style="width: 45px; height: 45px")
                                        .col-md-9
                                            p#Name.mb-1 John Doe
                                ul#MemberDropDown.dropdown-menu.col-md-12
                                    
                        .row.pt-3.border-bottom
                            .col-md-4
                                strong Start Date
                            .col-md-8
                                p 
                                    span#Start 22-04-2023
                                    img#StartButton.-icon(src="../icons/calendar.svg")
                        .row.pt-3
                            .col-md-4
                                strong Due Date
                            .col-md-8
                                p
                                    span#Due 22-04-2023
                                    img#DueButton.-icon(src="../icons/calendar.svg")
                                
                    .col-md-8
                        .row.gx-3
                            .col-md-6
                                .btn-group.shadow-0.col-md-12.border-bottom
                                    button.btn.btn-link.dropdown-toggle(type="button" data-mdb-toggle="dropdown") 
                                        span#Status.status-element Status
                                    ul.dropdown-menu 
                                        li#StatusNew.dropdown-item New
                                        li#StatusProgress.dropdown-item In Progress
                                        li#StatusResolved.dropdown-item Resolved
                                        li#StatusClosed.dropdown-item Closed
                            .col-md-6 
                                .btn-group.shadow-0.col-md-12.border-bottom
                                    button.btn.btn-link.rounded.dropdown-toggle(type="button" data-mdb-toggle="dropdown") 
                                        span#Priority Priority
                                    ul.dropdown-menu 
                                        li#PriorityLow.dropdown-item.text-bg-info Low
                                        li#PriorityMedium.dropdown-item.text-bg-warning  Medium
                                        li#PriorityHigh.dropdown-item.text-bg-danger  High
                                        li#PriorityCritical.dropdown-item.text-bg-dark  Critical

                        .row.gx-2.flex-row.border-bottom.flex-row
                                p.flex-grow-1.-icon.p-3
                                    img#SummaryButton.-icon(src="../icons/pencil.svg" height="18")
                                    span#Summary Summary Text
                                div#SummaryInvalid.invalid-msg Add a Summary!
                        .row.gx-2.flex-row.flex-row
                            p.flex-grow-1.-icon.p-3 
                                img#DescriptionButton.-icon(src="../icons/pencil.svg" height="18")
                                span#Description Description Text
                            div#DescriptionInvalid.invalid-msg Add a Description!

            .accordion
                .accordion-item 
                    h2.accordion-header
                        button.accordion-button.collapsed(data-mdb-toggle="collapse",data-mdb-target="#collapseOne", aria-expanded="false", aria-controls="collapseOne") Show Change Log 
                    #collapseOne.accordion-collapse.collapse(data-mdb-parent="#accordionExample")
                        .accordion-body
                            table 
                                thead
                                    th time
                                    th field
                                    th change
                                tbody#issueLogTable
                                    tr 
                                        td 1681430400000
                                        td Descrption 
                                        td This is my changed description example
                                
    script(src="../scripts/issuePage.js", type="module") 