extends basepage.pug 

block page-name 
    .nav-link.brand
        .brand__name
            h3 Issues
block page-content
    section
        h1 Hello Issues
        article#issues
            .row.justify-content-end.mb-3
                button#showModal.btn.btn-primary.me-3(type="button" data-mdb-toggle="modal" data-mdb-target="#issueModal") Add Issue
                button#clearIssuesButton.btn.btn-warning.text-dark(type="button" data-mdb-toggle="modal" data-mdb-target="#issueModal") Clear Issues
            table.table.align-middle.bg-white.table-hover 
                thead.bg-light 
                    th Issue ID
                    th Summary
                    th Priority
                    th Status
                    th Due Date
                    th Assigned To
                tbody#issueTable.table-group-divider 

    script(src="../scripts/issues.js", type="module")

    //- This just exists to get Parcel to build the issue page
    //- It turns out parcel only builds a page if it's linked to
    a(href="issue.pug").hide 